@import '../../../../../../assets/base/global';
@import '../../../../../../assets/modules/section-title';

news-page-section {
  background-color: $secondaryBgColor !important;
}

.news-details {
  width: 80%;
  margin: 0 auto 25px auto;
  padding: 10px 0;
  border-radius: 20px;

  h4 {
    font-weight: bold;
    margin-top: 40px;
  }

  &__heading {
    color: $mainTextColor;
    margin-top: 0;
    font-size: 1.9rem;

    @include atMedium {
      font-size: 3.4rem;
    }
  }

  &__date {
    text-align: center;
  }

  &__image {
    display: block;
    border-radius: 10px;
    width: 700px;
    margin: 0 auto 50px auto;
  }

  &__description {
    font-size: 20px;
    text-align: left;
  }

  @include atMedium {
    background: rgba(255, 255, 255, 0.4);
    padding: 10px 20px;
  }
}
