@import '../../../../../../assets/base/global';
@import '../../../../../../assets/modules/section-title';


.news-details {
  width: 80%;
  margin: 0 auto 25px auto;
  padding: 10px 20px;
  border-radius: 20px;

  &__heading {
    color: grey;
    margin-top: 0;
  }

  &__date {
   text-align: center;
  }

  &__image {
    display: block;
    border-radius: 10px;
    width: 700px;
    margin: 0 auto 50px auto;
  }

  &__description {
    font-size: 20px;
    text-align: left;
  }

  @include atMedium {
    background: rgba(255, 255, 255, 0.4);
  }
}
