<div class="terms_container">
    <h1>{{ 'MAIN.OTHER.TERMS_CONDITIONS.TITLE' | translate }}</h1>
    <h2>{{ 'MAIN.OTHER.TERMS_CONDITIONS.PARAGRAPH' | translate: {studioName: 'ReformFlow Studio'} }}</h2>
    <h3>{{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.TERMS_TITLE1' | translate }}<br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.1_1' | translate }}<br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.1_2' | translate }}<br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.1_3' | translate }}<br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.1_4' | translate }}<br>
        <br>
        <br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.TERMS_TITLE2' | translate }}<br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.2_1' | translate }}<br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.2_2' | translate }}<br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.2_3' | translate }}<br>
        <br>
        <br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.TERMS_TITLE3' | translate }}<br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.3_1' | translate }}<br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.3_2' | translate }}<br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.3_3' | translate }}<br>
        <br>
        <br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.TERMS_TITLE4' | translate }}<br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.4_1' | translate }}<br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.4_2' | translate }}<br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.4_3' | translate }}<br>
        <br>
        <br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.TERMS_TITLE5' | translate }}<br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.5_1' | translate }}<br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.5_2' | translate }}<br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.5_3' | translate }}<br>
        <br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.TERMS_TITLE6' | translate }}<br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.6_1' | translate }}
        <a routerLink="/gdpr">{{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.6_1_1' | translate }}</a><br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.6_2' | translate }}<br>
        <br>
        <br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.TERMS_TITLE7' | translate }}<br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.7_1' | translate }}<br>
        {{ 'MAIN.OTHER.TERMS_CONDITIONS.TERMS.7_2' | translate }}<br>
    </h3>

</div>
