<section>
  <h1 class="main_heading">Reform Flow Pilates</h1>
  <div class="about-us_main">
    <img src="./assets/images/download.jpeg" alt="about-us_image" class="about-us_image">
    <p class="about-us_main_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequuntur cumque cupiditate deleniti doloremque dolorum ducimus itaque, quas quos tempore velit veniam vero, voluptatem. At autem est et laboriosam temporibus.</p>
  </div>
  <div class="about-us_main">
    <img src="./assets/images/istockphoto-1171254524-612x612.jpg" alt="about-us_image" class="about-us_image">
    <p class="about-us_main_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequuntur cumque cupiditate deleniti doloremque dolorum ducimus itaque, quas quos tempore velit veniam vero, voluptatem. At autem est et laboriosam temporibus.</p>
  </div>
  <div class="about-us_main">
    <img src="./assets/images/360_F_304784012_61hZaLhg1TLRV43Amat6E5Czosml3hZz.jpg" alt="about-us_image" class="about-us_image">
    <p class="about-us_main_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequuntur cumque cupiditate deleniti doloremque dolorum ducimus itaque, quas quos tempore velit veniam vero, voluptatem. At autem est et laboriosam temporibus.</p>
  </div>
</section>
