<section class="about-us_section" [ngClass]="{ 'preload-width': !imagesLoaded }">
  <h1 class="section-title about-us_heading">{{ 'MAIN.ABOUT_US.MAIN-TITLE' | translate }}</h1>
  <h2 class="about-us_trainers-heading">{{ 'MAIN.ABOUT_US.TITLE' | translate }}</h2>
  <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
  <div class="about-us_container" *ngIf="imagesLoaded">
    <div class="instructor-card" *ngFor="let card of aboutUsCardsList">
      <img [src]="card.image" [alt]="card.title" class="instructor-image" rel="preload">
      <div class="about-us_description">
        <h1 class="instructor-name">{{ card.title }}</h1>
        <p class="instructor-description scroll-container">{{ card.description }}</p>
      </div>
    </div>
  </div>
  <a routerLink="/reservations"
     class="btn btn_spacing">{{
      'MAIN.HEADER.NAV.RESERVATIONS_LINK' +
      '' | translate
    }}</a>
</section>
