@import '../../../../../assets/base/global';
@import '../../../../../assets/modules/section-title';
@import '../../../../../assets/modules/page-section';

.ng_icons {
  width: 2rem;
  height: 2rem;
  list-style: none;
  margin-right: 0.3125rem;
}


.contacts_container {
  margin-top: 25px;

  &__heading {
    color: grey;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    color: grey;
    margin-left: 0;

    li {
      margin-bottom: 2rem;

      a {
        text-decoration: none;
        white-space: pre-line;
        font-size: 20px;
      }

      a {
        color: grey;
      }

      a:hover {
        color: #30302f;
      }
    }

    @include atMedium {
      flex-direction: row;
    }
  }

  @include atMedium {
  }
}
.form-container {
  max-width: 700px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: grey;

  .form_header {
    text-align: center;
    color: grey;
  }

  @include atMedium {
    box-shadow: 20px 20px 12px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
  }
}

.name-fields {
  display: block;

  label:nth-child(1) {
    margin-top: 10px;
  }

  @include atMedium {
    display: flex;
    gap: 10px;
  }
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
}

textarea {
  padding: 8px;
  border-radius: 5px;
  resize: vertical;
}

.char-counter {
  font-size: 0.85rem;
  color: #666;
  text-align: right;
  margin-bottom: 10px;
}

.error {
  margin-top: 5px;
  color: red;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: white;
  background: $mainRoseAsh;
  cursor: pointer;

  &:hover {
    background: grey;
  }

  &:active {
    background: $mainRoseAsh;
  }

  &:disabled {
    background: gray;
    cursor: not-allowed;
  }
}

@media (max-width: 768px) {
  input,
  textarea,
  select {
    font-size: 1rem;
  }
}

