<h4 class="contacts_container__heading section-title">{{ 'MAIN.CONTACTS.TITLE' | translate }}</h4>
<div class="contacts_container">
  <ul class="contacts_container__list page-section">
    <li><a type="phone" href="tel:+359 897870010">
      <ng-icon class="ng_icons" name="bootstrapTelephoneFill"></ng-icon>
      +359 897870010</a></li>
    <li><a type="mail" href="mailto:reformflowstudio@gmail.com">
      <ng-icon class="ng_icons" name="bootstrapEnvelopeOpenFill"></ng-icon>
      {{ 'reformflowstudio@gmail.com' }}</a></li>
    <li><a
      href="https://g.co/kgs/Rp5DPvw">
      <ng-icon class="ng_icons" name="bootstrapPinMapFill"></ng-icon>
      {{ 'MAIN.FOOTER.CONTACTS.CONTACTS_LIST.LOCATION' | translate }}</a></li>
  </ul>
  <app-google-map></app-google-map>
  <div class="page-section">
    <div class="form-test-wrapper">
      <form nz-form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-container" nzLayout="vertical">
        <h2 class="form_header">
          {{ 'MAIN.CONTACTS.CONTACTS_FORM.TITLE' | translate }}
        </h2>

        <div nz-row [nzGutter]="16">
          <div nz-col [nzXs]="24" [nzSm]="12">
            <nz-form-item>
              <nz-form-label [nzFor]="'firstName'">
                {{ 'MAIN.RESERVATIONS.FORM.FIRST_NAME' | translate }}
              </nz-form-label>
              <nz-form-control [nzValidateStatus]="getNzStatus('firstName')">
                <input nz-input id="firstName" formControlName="firstName"
                       [placeholder]="'MAIN.RESERVATIONS.FORM.FIRST_NAME' | translate"/>
                <nz-form-explain class="error"
                                 *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched">
                  {{ 'MAIN.RESERVATIONS.FORM.ERRORS.FIRST_NAME' | translate }}
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzXs]="24" [nzSm]="12">
            <nz-form-item>
              <nz-form-label [nzFor]="'secondName'">
                {{ 'MAIN.RESERVATIONS.FORM.LAST_NAME' | translate }}
              </nz-form-label>
              <nz-form-control [nzValidateStatus]="getNzStatus('secondName')">
                <input nz-input id="secondName" formControlName="secondName"
                       [placeholder]="'MAIN.RESERVATIONS.FORM.LAST_NAME' | translate"/>
                <nz-form-explain *ngIf="userForm.get('secondName')?.invalid && userForm.get('secondName')?.touched"
                                 class="error">
                  {{ 'MAIN.RESERVATIONS.FORM.ERRORS.LAST_NAME' | translate }}
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <nz-form-item>
          <nz-form-label [nzFor]="'phoneNumber'">
            {{ 'MAIN.RESERVATIONS.FORM.PHONE_NUMBER' | translate }}
          </nz-form-label>
          <nz-form-control [nzValidateStatus]="getNzStatus('phoneNumber')">
            <input nz-input id="phoneNumber" type="tel" formControlName="phoneNumber"
                   [placeholder]="'MAIN.RESERVATIONS.FORM.PHONE_NUMBER' | translate"/>
            <nz-form-explain *ngIf="userForm.get('phoneNumber')?.invalid && userForm.get('phoneNumber')?.touched"
                             class="error">
              {{ 'MAIN.RESERVATIONS.FORM.ERRORS.PHONE_NUMBER' | translate }}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzFor]="'email'">
            {{ 'MAIN.RESERVATIONS.FORM.E_MAIL' | translate }}
          </nz-form-label>
          <nz-form-control [nzValidateStatus]="getNzStatus('email')">
            <input nz-input id="email" type="email" formControlName="email"
                   [placeholder]="'MAIN.RESERVATIONS.FORM.E_MAIL' | translate"/>
            <nz-form-explain *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched" class="error">
              {{ 'MAIN.RESERVATIONS.FORM.ERRORS.E_MAIL' | translate }}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>

          <nz-form-item>
            <nz-form-label [nzFor]="'feedback'">
              {{ 'MAIN.SHARED.TEXTAREA.TITLE' | translate }}
            </nz-form-label>
            <nz-form-control [nzValidateStatus]="getNzStatus('feedback')" [nzSpan]="24" style="width: 100%;">
    <textarea
      nz-input
      id="feedback"
      formControlName="feedback"
      rows="5"
      maxlength="1000"
      [placeholder]="'MAIN.SHARED.TEXTAREA.PLACEHOLDER' | translate">
    </textarea>
              <nz-form-explain class="error"
                               *ngIf="userForm.get('feedback')?.invalid && userForm.get('feedback')?.touched">
                {{ 'MAIN.RESERVATIONS.FORM.ERRORS.FEEDBACK' | translate }}
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>

          <nz-form-control>
            <button class="contacts_btn" type="submit" [disabled]="!userForm.valid">
              {{ 'MAIN.RESERVATIONS.FORM.SUBMIT' | translate }}
            </button>
          </nz-form-control>
        </nz-form-item>

        <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
      </form>
      <nz-carousel
        nzAutoPlay
        [nzDots]="true"
        [nzEffect]="'scrollx'"
        class="testimonial-carousel">
        @for (testimonial of testimonials; track testimonial) {
          <div nz-carousel-content>
            <div class="image-wrapper">
              <img [src]="testimonial.image" [alt]="testimonial.image">
            </div>
            <div class="testimonial-slide">
              <p class="testimonial-message">“{{ testimonial.message[lang] }}”</p>
              <p class="testimonial-author">— {{ testimonial.name[lang] }}</p>
            </div>
          </div>
        }
      </nz-carousel>
    </div>
    <div class="modal-overlay" *ngIf="showModal">
      <div class="modal-box">
        <h2 class="modal-title">
          {{
            modalSuccess
              ? ('MAIN.SHARED.ERRORS.MODAL.TITLE_SUCCESS' | translate)
              : ('MAIN.SHARED.ERRORS.MODAL.TITLE_FAILURE' | translate)
          }}
        </h2>
        <p class="modal-message">
          {{
            modalSuccess
              ? ('MAIN.SHARED.ERRORS.MODAL.SUCCESS_REVIEW' | translate)
              : ('MAIN.SHARED.ERRORS.MODAL.FAILURE_DESCRIPTION' | translate)
          }}
        </p>
        <button class="modal-close" (click)="showModal = false">{{ 'MAIN.SHARED.ERRORS.MODAL.BUTTON' | translate }}
        </button>
      </div>
    </div>
  </div>

</div>
<app-working-hours></app-working-hours>
