<section id="pilates-prices">
  <h2 class="section-title">{{ 'MAIN.PRICES.PRICES_TITLE' | translate }}</h2>
  <p class="section-description">{{ 'MAIN.PRICES.PRICES_PARAGRAPH' | translate }}</p>
  <div class="quote-container">
    <p class="quote-text">“{{ 'MAIN.PRICES.PILATES_QUOTE' | translate }}”</p>
    <p class="quote-author">— {{ 'MAIN.PRICES.JOSEPH_PILATES' | translate }}</p>
  </div>
  <div class="price-list-section">
    <h2 class="type-training-heading section-title">{{ 'MAIN.PRICES.GROUP_TRAININGS' | translate }}</h2>
    <div class="price-list">
      <div class="price-item header">
        <div class="service">{{ 'MAIN.PRICES.TABLE.CLASSES' | translate }}</div>
        <div class="price">{{ 'MAIN.PRICES.TABLE.PRICES' | translate }}</div>
        <div class="terms">{{ 'MAIN.PRICES.TABLE.VISITS' | translate }}</div>
      </div>

      <div class="price-item">
        <div class="service">1 {{ 'MAIN.PRICES.TABLE.TRAINING' | translate }}</div>
        <div class="price">35 BGN</div>
        <div class="terms">{{ 'MAIN.PRICES.TABLE.SINGLE_TRAINING' | translate }}</div>
      </div>

      <div class="price-item">
        <div class="service">4 {{ 'MAIN.PRICES.TABLE.TRAININGS' | translate }}</div>
        <div class="price">120 BGN</div>
        <div class="terms">{{ 'MAIN.PRICES.TABLE.PER_MONTH' | translate }}</div>
      </div>

      <div class="price-item">
        <div class="service">8 {{ 'MAIN.PRICES.TABLE.TRAININGS' | translate }}</div>
        <div class="price">200 BGN</div>
        <div class="terms">{{ 'MAIN.PRICES.TABLE.PER_MONTH' | translate }}</div>
      </div>

      <div class="price-item">
        <div class="service">12 {{ 'MAIN.PRICES.TABLE.TRAININGS' | translate }}</div>
        <div class="price">270 BGN</div>
        <div class="terms">{{ 'MAIN.PRICES.TABLE.PER_MONTH' | translate }}</div>
      </div>
      <div class="price-item">
        <div class="service">12 {{ 'MAIN.PRICES.TABLE.TRAININGS' | translate }}</div>
        <div class="price">300 BGN</div>
        <div class="terms">{{ 'MAIN.PRICES.TABLE.TWO_MONTHS' | translate }}</div>
      </div>
      <div class="price-item">
        <div class="service">18 {{ 'MAIN.PRICES.TABLE.TRAININGS' | translate }}</div>
        <div class="price">400 BGN</div>
        <div class="terms">{{ 'MAIN.PRICES.TABLE.TWO_MONTHS' | translate }}</div>
      </div>
    </div>
    <a routerLink="/reservations"
       class="btn btn_spacing">{{ 'MAIN.HEADER.NAV.RESERVATIONS_LINK' | translate }}</a>
  </div>
  <div class="price-list-section">
    <h2 class="type-training-heading section-title">{{ 'MAIN.PRICES.INDIVIDUAL_TRAININGS' | translate }}</h2>
    <div class="price-list">
      <div class="price-item header">
        <div class="service">{{ 'MAIN.PRICES.TABLE.CLASSES' | translate }}</div>
        <div class="price">{{ 'MAIN.PRICES.TABLE.PRICES' | translate }}</div>
        <div class="terms">{{ 'MAIN.PRICES.TABLE.VISITS' | translate }}</div>
      </div>

      <div class="price-item">
        <div class="service">1 {{ 'MAIN.PRICES.TABLE.TRAINING' | translate }}</div>
        <div class="price">45 BGN</div>
        <div class="terms">{{ 'MAIN.PRICES.TABLE.SINGLE_TRAINING' | translate }}</div>
      </div>

      <div class="price-item">
        <div class="service">4 {{ 'MAIN.PRICES.TABLE.TRAININGS' | translate }}</div>
        <div class="price">168 BGN</div>
        <div class="terms">{{ 'MAIN.PRICES.TABLE.PER_MONTH' | translate }}</div>
      </div>

      <div class="price-item">
        <div class="service">8 {{ 'MAIN.PRICES.TABLE.TRAININGS' | translate }}</div>
        <div class="price">320 BGN</div>
        <div class="terms">{{ 'MAIN.PRICES.TABLE.PER_MONTH' | translate }}</div>
      </div>

      <div class="price-item">
        <div class="service">12 {{ 'MAIN.PRICES.TABLE.TRAININGS' | translate }}</div>
        <div class="price">420 BGN</div>
        <div class="terms">{{ 'MAIN.PRICES.TABLE.PER_MONTH' | translate }}</div>
      </div>
      <div class="price-item">
        <div class="service">12 {{ 'MAIN.PRICES.TABLE.TRAININGS' | translate }}</div>
        <div class="price">500 BGN</div>
        <div class="terms">{{ 'MAIN.PRICES.TABLE.TWO_MONTHS' | translate }}</div>
      </div>
      <div class="price-item">
        <div class="service">18 {{ 'MAIN.PRICES.TABLE.TRAININGS' | translate }}</div>
        <div class="price">630 BGN</div>
        <div class="terms">{{ 'MAIN.PRICES.TABLE.TWO_MONTHS' | translate }}</div>
      </div>
    </div>
    <a routerLink="/reservations"
       class="btn btn_spacing">{{ 'MAIN.HEADER.NAV.RESERVATIONS_LINK' | translate }}</a>
  </div>
</section>
