@import '../../../../../assets/base/global';
@import '../../../../../assets/modules/page-section';
@import '../../../../../assets/modules/row';
@import '../../../../../assets/modules/wrapper';
@import '../../../../../assets/modules/section-title';
@import '../../../../../assets/modules/feature-item';
@import '../../../../../assets/modules/generic-content-container';

#pilates-prices {
  padding: 2.5rem 0;
}

.container {
  //max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.section-title {
  color: grey;
  margin-bottom: 5px;
}

.group_trainings_title {
  margin-top: 6.5rem;
}

.section-description {
  text-align: center;
  font-size: 1.25rem;
}

.price-table {
  width: 100%;
  margin-top: 2.5rem;
  border-collapse: collapse;
}

.price-table th, .price-table td {
  text-align: center;
  padding: 0.9375rem;
  //border: 0.0625rem solid #ddd;
}

.price-table th {
  //background-color: #f4f4f4;
  font-size: 1.125rem;
}

.price-table td {
  //background-color: #fff;
}


.price-list-section {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-list {
  width: 100%;
  //max-width: 900px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.price-item {
  display: grid;
  grid-template-columns: 2fr 1.5fr 0.4fr;
  align-items: center;
  padding: 18px 24px;

  &:hover {
    background-color: #fdf2f2;
  }

  .service {
    font-size: 18px;
    color: #444;
  }

  .price {
    font-size: 18px;
    font-weight: bold;
    color: grey;
  }

  .terms {
    font-size: 16px;
    color: #777;
  }

  &.header {
    //background-color: #ffeaea;
    font-weight: 600;

    .service,
    .price,
    .terms {
      font-size: 19px;
      color: grey;
    }
  }

  @include atMedium {
    grid-template-columns: 2fr 0.3fr 0.4fr;
  }
}

