@import '../../../../../assets/base/global';
@import '../../../../../assets/modules/section-title';
@import '../../../../../assets/modules/quote';

.section-title {
  color: grey;
  margin-top: 0;
  margin-bottom: 1rem; // 16px
}

.individual-heading {
  font-size: 1.75rem;

  @include atMedium{
    font-size: 3.4rem;
  }
}

#pilates-prices {
  padding-bottom: 2.5rem;
}

.container {
  margin: 0;
  padding: 0 1.25rem; // 20px
}

.group_trainings_title {
  margin-top: 6.5rem; // 104px
}

.section-description {
  text-align: center;
  font-size: 1.25rem; // 20px
  color: grey;
  padding: 0 20px;
}

.price-list-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6.25rem; // 100px

  @include atMedium {
    padding: 3.75rem 1.25rem; // 60px 20px
    margin-top: 2rem; // 32px
  }
}

.price-list {
  display: flex;
  flex-direction: column;
  border-radius: 1rem; // 16px
  overflow: hidden;

  @include atMedium {
    box-shadow:
      1.25rem 1.25rem 0.75rem rgba(0, 0, 0, 0.2), // 20px 20px 12px
      0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1);  // 1px 3px
  }
}

.price-item {
  display: grid;
  grid-template-columns: 2fr 1.4fr 1.3fr;
  padding: 1.25rem 1.5rem; // 20px 24px
  font-weight: initial;
  color: grey;

  &:hover {
    background-color: #fdf2f2;
  }

  .service,
  .price {
    font-size: 1rem; // 16px
    font-weight: bold;
    color: grey;
  }

  .terms {
    font-size: 1rem; // 16px
    font-weight: bold;
    color: #777;
  }

  &.header {
    font-weight: 600;

    .service,
    .price,
    .terms {
      font-size: 1.1875rem; // 19px
      color: grey;

      @include atMedium {
        font-size: 1.5rem; // 24px
      }
    }
  }

  @include atMedium {
    margin-left: auto;
    margin-right: auto;
    width: 46.875rem; // 750px
    grid-template-columns: 2fr 1.6fr 0.8fr;
  }
}

.btn_prices {
  margin-top: 1.5625rem; // 25px

  @include atMedium {
    margin-top: 3.125rem; // 50px
  }
}

.quote-container {
  margin: 3rem auto; // 100px
}
