@import '../../../assets/base/global';


.footer {
  display: flex;
  justify-content: space-around;
  background: $mainRoseAsh;
  color: ivory;
  font-size: 1.125rem;
  padding: 1.5rem 0 3.125rem;
  flex-direction: column;
  align-items: center;

  .ng_icons {
    width: 1.75rem;
    height: 1.75rem;
    list-style: none;
    margin-right: 0.3125rem;
  }

  @include atMedium {
    flex-direction: row;
    align-items: flex-start;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 1.25rem;
  }

  a {
    color: #FFFFFF;
  }

  a:hover {
    color: #ededd2;
  }
}

.about-us_container {
  text-align: center;

  &__heading {

    @include atLarge {
      margin-top: 0;
    }
  }

  &__description {
    padding: 0 100px;

    @include atMedium {
      padding: 0;
    }
  }

  @include atMedium {
    width: 25%;
  }
}

.social-media_container {

  &__heading {

    @include atLarge {
      margin-top: 0;
    }
  }

  li {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0.9375rem;


    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      margin-left: 0.3125rem;
    }
  }

  &__list {
    padding-left: 0;
    margin-top: 0;
  }
}


.contacts_container {

  &__heading {
    text-align: center;

    @include atLarge {
      text-align: left;
      margin-top: 0;
    }
  }

  &__list {
    list-style: none;
    padding: 0;

    li {
      list-style: none;
      margin-bottom: 1.25rem;

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
      }

      i {
        margin-right: 10px;
      }
    }
  }
}
