<div class="footer">
  <div class="about-us_container">
    <h4 class="about-us_container__heading">{{ 'MAIN.FOOTER.ABOUT_US' | translate }}</h4>
    <p class="about-us_container__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque error
      magnam mollitia tempora, tempore, atque error
      magnam mollitia tempora, tempore</p>
  </div>
  <div class="social-media_container">
    <h4 class="social-media_container__heading">{{ 'MAIN.FOOTER.SOCIAL_MEDIA.HEADER' | translate }}</h4>
    <ul class="social-media_container__list">
      <li><a href="https://www.instagram.com/reformflowstudio/"><ng-icon class="ng_icons" name="bootstrapInstagram"></ng-icon>Instagram</a></li>
      <li><a href=""><ng-icon class="ng_icons" name="bootstrapFacebook"></ng-icon>Facebook</a></li>
      <li><a href=""><ng-icon class="ng_icons" name="bootstrapTikTok"></ng-icon>TikTok</a></li>
    </ul>
  </div>
  <div class="contacts_container">
    <h4 class="contacts_container__heading">{{ 'MAIN.FOOTER.CONTACTS.HEADER' | translate }}</h4>
    <ul class="contacts_container__list">
      <li><a type="phone" href="tel:+1234567890"><i class="fa-solid fa-phone"></i>+359 88888888</a></li>
      <li><a
        href="https://g.co/kgs/Rp5DPvw"><i class="fa-solid fa-location-arrow"></i>{{ 'MAIN.FOOTER.CONTACTS.CONTACTS_LIST.LOCATION' | translate }}</a></li>
      <li><a type="mail" href="mailto:lyubomir_vasilev1992@abv.bg"><i class="fa-solid fa-envelope"></i>{{ 'ven@abv.bg' }}</a></li>
    </ul>
  </div>
</div>

