@import '../../../assets/base/global';

$section-width: 20%;
$section-gap: 1.5625rem; // 25px
$section-spacing: 0.9375rem; // 15px

.footer {
  background: $mainRoseAsh;
}

// ==== Footer Section Container ====
.footer_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 1 auto;
  color: ivory;
  font-size: 1.125rem;
  padding: 1.25rem 10% 2.5rem 10%;

  @include atMedium {
    flex-direction: row;
  }

  .ng_icons {
    width: 2rem;
    height: 2rem;
    list-style: none;
    margin-right: 0.3125rem;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 1.25rem;
    color: #FFFFFF;

    @include atLarge {
      margin-top: 0;
    }
  }

  a {
    color: #fff;

    &:hover {
      color: #ededd2;
    }
  }
}

// ==== Base Block for Section Columns ====
.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: $section-gap;


  @include atMedium {
    width: $section-width;
    text-align: left;
  }
}

// ==== About Us Section ====
.about-us_container {
  @extend .footer-column;
  margin-top: 20px;

  &__description {
    margin-top: 0;

    @include atMedium {
      margin-top: 0;
      padding: 0;
    }
  }

  @include atMedium {
    margin-top: $section-gap;
  }
}

// ==== Social Media Section ====
.social-media_container {
  @extend .footer-column;

  &__list {
    padding-left: 0;
    margin-top: 0;
  }

  li {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: $section-spacing;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
    }
  }
}

// ==== Contacts Section ====
.contacts_container {
  @extend .footer-column;
  overflow: hidden;
  text-overflow: ellipsis;

  &__list {
    list-style: none;
    margin-top: 0;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      list-style: none;
      margin-bottom: $section-spacing;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
      }
    }
  }
}

// ==== Further Options Section ====
.further-options_container {
  @extend .footer-column;

  .further-options_container__list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: $section-spacing;
    }

    a {
      text-decoration: none;
    }
  }
}

// ==== Footer Rights Text ====
.footer_rights {
  background: #fff;
  font-size: 0.875rem;
  color: #777;
  text-align: right;
  margin: 0;
}
