<div class="gdpr_container">
  <h1>{{ 'MAIN.OTHER.GDPR.TITLE' | translate }}</h1>
  <h2>{{ 'MAIN.OTHER.GDPR.PARAGRAPH' | translate }}</h2>
  <h3>{{ 'MAIN.OTHER.GDPR.BLOCKS.GDPR_TITLE1' | translate }}<br>
    {{ 'MAIN.OTHER.GDPR.BLOCKS.1_1' | translate }}<br>
    <br>
    <br>
    {{ 'MAIN.OTHER.GDPR.BLOCKS.GDPR_TITLE2' | translate }}<br>
    {{ 'MAIN.OTHER.GDPR.BLOCKS.2_1' | translate }}<br>
    <ul>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.2_1_1' | translate }}</li>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.2_1_2' | translate }}</li>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.2_1_3' | translate }}</li>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.2_1_4' | translate }}</li>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.2_1_5' | translate }}</li>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.2_1_6' | translate }}</li>
    </ul>
    <br>
    <br>
    {{ 'MAIN.OTHER.GDPR.BLOCKS.GDPR_TITLE3' | translate }}<br>
    {{ 'MAIN.OTHER.GDPR.BLOCKS.3_1' | translate }}<br>
    <ul>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.3_1_1' | translate }}</li>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.3_1_2' | translate }}</li>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.3_1_3' | translate }}</li>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.3_1_4' | translate }}</li>
    </ul>
    <br>
    <br>
    {{ 'MAIN.OTHER.GDPR.BLOCKS.GDPR_TITLE4' | translate }}<br>
    {{ 'MAIN.OTHER.GDPR.BLOCKS.4_1' | translate }}<br>
    <ul>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.4_1_1' | translate }}</li>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.4_1_2' | translate }}</li>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.4_1_3' | translate }}</li>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.4_1_4' | translate }}</li>
    </ul>
    <br>
    <br>
    {{ 'MAIN.OTHER.GDPR.BLOCKS.GDPR_TITLE5' | translate }}<br>
    {{ 'MAIN.OTHER.GDPR.BLOCKS.5_1' | translate }}<br>
    <ul>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.5_1_1' | translate }}</li>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.5_1_2' | translate }}</li>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.5_1_3' | translate }}</li>
    </ul>
    <br>
    <br>
    {{ 'MAIN.OTHER.GDPR.BLOCKS.GDPR_TITLE6' | translate }}<br>
    {{ 'MAIN.OTHER.GDPR.BLOCKS.6_1' | translate }}<br>
    <ul>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.6_1_1' | translate }}</li>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.6_1_2' | translate }}</li>
    </ul>
    <br>
    <br>
    {{ 'MAIN.OTHER.GDPR.BLOCKS.GDPR_TITLE7' | translate }}<br>
    {{ 'MAIN.OTHER.GDPR.BLOCKS.7_1' | translate }}<br>
    <ul>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.7_1_1' | translate }}</li>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.7_1_2' | translate }}</li>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.7_1_3' | translate }}</li>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.7_1_4' | translate }}</li>
      <li> {{ 'MAIN.OTHER.GDPR.BLOCKS.7_1_5' | translate }}</li>
    </ul>
    <p>{{'MAIN.OTHER.GDPR.BLOCKS.7_1_note' | translate}}</p>
    <br>
    <br>
    {{ 'MAIN.OTHER.GDPR.BLOCKS.GDPR_TITLE8' | translate }}<br>
    {{ 'MAIN.OTHER.GDPR.BLOCKS.8_1' | translate }}<br>
    <br>
    <br>
    {{ 'MAIN.OTHER.GDPR.BLOCKS.GDPR_TITLE9' | translate }}<br>
    {{ 'MAIN.OTHER.GDPR.BLOCKS.9_1' | translate }}<br>
    <br>
    <br>
  </h3>

</div>
