<header class="site-header">
  <div class="logo_container">
    <img src="./assets/icons/reformflow_grey%20logo_CMYK.svg" alt="pil_logo" class="header_logo">
    <h1 class="header_title">ReformFlow Studio</h1>
  </div>
  <input type="checkbox" id="check" [checked]="menuOpen" (change)="toggleMenu()" hidden>
  <label for="check" class="icons">
    <i class="bx bx-menu" id="menu-icon" *ngIf="!menuOpen"></i>
    <i class="bx bx-x" id="close-icon" *ngIf="menuOpen"></i>
  </label>
  <nav class="header_nav" [class.active]="menuOpen">
    <ul class="nav_list">
      <li><a routerLink="" routerLinkActive="active-link"
             (click)="closeMenu()">{{ 'MAIN.HEADER.NAV.HOME' | translate }}</a></li>
      <li><a routerLink="/news" (click)="closeMenu()">{{ 'MAIN.HEADER.NAV.NEWS' | translate }}</a></li>
      <li><a routerLink="/prices" (click)="closeMenu()">{{ 'MAIN.HEADER.NAV.PRICES' | translate }}</a></li>
      <li><a routerLink="/reservations" (click)="closeMenu()">{{ 'MAIN.HEADER.NAV.RESERVATIONS' | translate }}</a></li>
      <li><a routerLink="/gallery" (click)="closeMenu()">{{ 'MAIN.HEADER.NAV.GALLERY' | translate }}</a></li>
      <li><a routerLink="/about-us" (click)="closeMenu()">{{ 'MAIN.HEADER.NAV.ABOUT_US' | translate }}</a></li>
      <li><a routerLink="/contacts" (click)="closeMenu()">{{ 'MAIN.HEADER.NAV.CONTACTS' | translate }}</a></li>
      @if (currentLang == 'main-en' || currentLang == undefined) {
        <li><a class="contacts_link_mobile" (click)="switchLanguageToBG()">BG</a></li>
      } @else {
        <li><a class="contacts_link_mobile" (click)="switchLanguageToEN()">EN</a></li>
      }
    </ul>
  </nav>
</header>
