@import '../../../../../assets/base/global';
@import '../../../../../assets/modules/load-spinner';
@import '../../../../../assets/modules/page-section';
@import '../../../../../assets/modules/section-title';
@import '../../../../../assets/modules/generic-content-container';
@import '../../../../../assets/modules/quote';


.section-title {
  margin: 0;
}

.main-section {
  margin-top: -100px;
}

.intro-hero__text-content_container {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  width: 70%;
}

.intro-hero {
  border-bottom: 10px solid $mainRoseAsh;
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;

    @include atMedium {
      height: 100%;
    }
  }

  img.active {
    opacity: 1;
  }

  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1;

    @include atMedium {
      height: 100%;
    }
  }

  &__text-content {
    position: absolute;
    top: 25%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    width: 90%;
    transform: translate(5.5%);
    text-align: center;
    z-index: 10;
    cursor: default;


    @include atMedium {
      width: 60%;
      top: 20%;
      left: 0;
      transform: translateX(35%);
    }

    @include mobileView {
      top: 20%;
      left: 0;
    }
  }

  &__title {
    color: $mainRoseAsh;
    margin: 0;
    font-size: 3rem;

    @include atSmall {
      font-size: 3rem;
    }

    @include atMedium {
      font-size: 5rem;
    }

    @include atLarge {
      font-size: 7rem;
    }

    @include mobileView {
      font-size: 4rem;
    }
  }

  &__subtitle {
    font-size: 1.3rem;
    color: $mainTextColor;
    margin-top: 0;
    margin-bottom: 1.2rem;

    @include atSmall {
      font-size: 1.8rem;
    }

    @include atMedium {
      font-size: 3rem;
      margin: 0;
    }

    @include atLarge {
      font-size: 4rem;
    }

    @include mobileView {
      font-size: 2.5rem;
    }
  }

  &__paragraph {
    color: $mainTextColor;
    font-size: 1.1rem;
    font-weight: 100;

    @include atSmall {
      margin: 0;
      margin-left: auto;
      margin-right: auto;
      max-width: 400px;
      margin-bottom: 15px;
    }

    @include atMedium {
      margin: 0;
      font-size: 1.5rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 360px;
      margin-bottom: 20px;
    }

    @include atLarge {
      margin: 0;
      margin-left: auto;
      margin-right: auto;
      max-width: 360px;
      margin-bottom: 30px;
    }

    @include mobileView {
      font-size: 1.2rem;
    }
  }

  @include atMedium {
    height: 100vh;
  }

  .btn {
    margin-bottom: 10px;

    @include atMedium {
      margin-bottom: 0;
    }
  }
}

.middle-hero {
  background-color: $secondaryBgColor;

  &__img {
    display: block;
    border-radius: 20px;
    width: 90%;
    object-fit: cover;


    @include atMedium {
      width: 50%;
    }
  }

  &__text-content {
    text-align: center;

    p {
      color: $mainTextColor;
    }
  }

  &__title {
    color: $mainTextColor;
    font-weight: bold;
    font-size: 1.7rem;
    padding-top: 50px;
    margin-bottom: 0;

    @include atMedium {
      font-size: 3rem;
    }

  }

  &__paragraph {
    color: $mainTextColor;
    font-size: 1rem;
    font-weight: 100;


    @include atSmall {
      margin: 0;
      margin-left: auto;
      margin-right: auto;
      max-width: 540px;
      margin-bottom: 30px;
    }

    @include atMedium {
      margin: 0;
      font-size: 1.5rem;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }

    @include atLarge {
      margin: 0;
      font-size: 2rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .btn_about-us {
    margin-top: 10px;
    margin-bottom: 25px;
    color: $mainTextColor;
  }
}

.last-hero {
  background-color: $mainRoseAsh;

  &__img {
    display: block;
    border-radius: 20px;
    width: 90%;
    object-fit: cover;

    @include atMedium {
      width: 50%;
    }
  }

  &__text-content {
    text-align: center;

    p {
      color: $mainTextColor;
    }
  }

  &__title {
    color: $mainTextColor;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 50px;

    @include atMedium {
      font-size: 3rem;
    }

  }

  &__paragraph {
    color: $mainTextColor;
    font-size: 1.1rem;
    font-weight: 100;


    @include atSmall {
      margin: 0;
      margin-left: auto;
      margin-right: auto;
      max-width: 540px;
      margin-bottom: 30px;
    }

    @include atMedium {
      margin: 0;
      font-size: 1.5rem;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }

    @include atLarge {
      margin: 0;
      font-size: 2rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .btn_news {
    margin-top: 10px;
    margin-bottom: 25px;
    background-color: $secondaryBgColor;
    color: #0c0d0c;
  }

  .btn_news:hover {
    background-color: #87eadc;
    color: #0c0d0c;
  }

  .btn_news:active {
    background-color: $secondaryBgColor;
  }
}

.hero_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__description {
    width: 90%;
    text-align: left;
    font-size: 1.2rem;
    margin-top: 20px;

    @include atMedium {
      font-size: 1.6rem;
      padding: 0 30px;
      margin-top: 0;
    }
  }

  @include atMedium {
    flex-direction: row;
    align-items: normal;
  }
}

.faq_heading {
  margin-bottom: 50px;
}

/* Container for FAQ section */
.faq-container {
  white-space: pre-line;
  background-color: $secondaryBgColor;
}

/* Individual FAQ item styling */
.faq {
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  text-align: left;
  transition: background 0.3s;
}

/* Hover effect for FAQ item */
.faq:hover {
  background: rgba(255, 107, 107, 0.1);
}

/* Styling for the question text */
.question {
  font-size: 20px;
  font-weight: 500;
  color: $mainTextColor;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include atMedium {
    font-size: 25px;
  }
}

/* Styling for arrow indicator */
.arrow {
  display: none;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: transform 1s ease, color 0.3s ease;

  @include atMedium {
    display: inline-block;
  }
}

/* Arrow icon (↓) */
.arrow::after {
  content: "↓";
  position: absolute;
  top: -20px;
  right: 10px;
  font-size: 30px;
  color: $mainRoseAsh;
  transition: transform 0.6s ease;
}

/* Hover effect (subtle, no rotation) */
.arrow:hover {
  color: #ff6b6b;
  transform: translateX(5px);
}

/* Rotate the arrow down ONLY when open */
.arrow.rotate::after {
  transform: rotate(180deg);
}

/* Answer container - hidden by default */
.answer-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.8s ease-in-out;
  opacity: 0;
}

/* Open state for the answer container */
.answer-container.open {
  max-height: 250px;
  opacity: 1;
}

.answer-container.open:last-child {
  max-height: 450px;
  opacity: 1;
}

/* Styling for the answer text */
.answer {
  padding: 10px;
  color: #333;
  font-size: 0.975rem;

  @include atMedium {
    font-size: 1.25rem;
  }
}

.gma-heading {
  font-size: 1.6rem;
  margin: 50px 8px;

  @include atMedium {
    font-size: 2.5rem;
  }
}

.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  background: #f8f8f8;
}

.testimonials-heading {
  margin: 25px 0 50px;
}

.testimonials-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.testimonial-card {
  color: $mainTextColor;
  background: #ffe3e3;
  border-radius: 1rem;
  padding-top: 4rem;
  width: 300px;
  min-height: 300px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;

  &:hover {

    @include atMedium {
      transform: translateY(-5px);
    }
  }

  .image-wrapper {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid white;
    background-color: #ddd;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    padding: 1.5rem;

    .info {
      font-style: italic;
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    .message {
      font-style: italic;
      font-size: 1rem;
      margin-bottom: 1rem;
      margin-top: 0;
    }

    .name {
      font-weight: bold;
      font-size: 1.2rem;
    }

    .role {
      color: $mainTextColor;
      font-size: 0.9rem;
    }
  }
}
