<div class="main-section">
  <div class="main-section_block">
    <h1>ReformFlow</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet animi asperiores consequatur culpa, deserunt
      dolor est eveniet explicabo id ipsam iste nemo officiis quaerat sequi ullam ut voluptate voluptates?</p>
  </div>
  <div class="main-section_block">
    <h1>Where do we come from?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet animi asperiores consequatur culpa, deserunt
      dolor est eveniet explicabo id ipsam iste nemo officiis quaerat sequi ullam ut voluptate voluptates?</p>
  </div>
</div>
