@import "../base/mixins";

.btn {
  font-size: 1rem;
  background-color: #F8B4B1;
  color: #FFF;
  padding: 1.2rem 2rem;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;

  @include atMedium {
    font-size: 1.2rem;
  }
}


.btn_spacing {
  margin-top: 1.5625rem; // 25px
  margin-bottom: 1.3rem; ;

  @include atMedium {
    margin-top: 3.125rem; // 50px
  }
}

.btn:hover {
  color: #0c0d0c;
  background-color: #87eadc;
}

.btn:active {
  background-color: #FF959F;
  color: #FFF;
}
