
.quote-container {
  max-width: 300px;
  text-align: center;
  animation: fadeIn 1.5s ease-in-out;
  margin: 0 auto 50px;

  @include atMedium {
    max-width: 400px;
    max-height: 700px;
  }
}

.quote-text {
  font-size: 28px;
  font-style: italic;
  color: #555;
  margin-bottom: 10px;
}

.quote-author {
  font-size: 20px;
  font-weight: 600;
  color: #F8B4B1;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
