.row {

  &::after {
    content: "";
    clear: both;
    display: table;
  }

  &--gutters {

    @include atMedium {
      padding-right: -65px;
    }
  }

  &--gutters > div {

    @include atMedium {
      padding-right: 65px;
      box-sizing: border-box;
    }
  }

  &__4 {

    @include atMedium {
      float: left;
      width: 33.33%;
    }
  }

  &__8 {

    @include atMedium {
      float: left;
      width: 66.66%;
    }
  }
}
